<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="wikiURL" value="http://wiki" />
    <add key="soapPath" value="/rpc/soap-axis/confluenceservice-v2?wsdl" />
    <add key="username" value="admin" />
    <add key="password" value="cAirkjuu0Fgqn1VZPkFdIw==" />
    <add key="photoPath" value="C:\Faces" />
    <add key="archive" value="true" />
    <add key="archivePath" value="C:\Faces\Archive" />
    <add key="noFacePath" value="C:\Faces\FailedDetection" />
    <add key="delete" value="true" />
    <add key="noCrop" value="true" />
    <add key="preCropped" value="false" />
    <add key="useProxy" value="false" />
    <add key="proxyAddress" value="" />
    <add key="proxyPort" value="" />
    <add key="proxyUsername" value="" />
    <add key="proxyPassword" value="az2jnZKX+vC/6BSjejrLpg==" />
    <add key="versionURL" value="https://bitbucket.org/fredclown/confluence-profile-photo-uploader/raw/tip/Version.txt" />
    <add key="updateEmail" value="false" />
    <add key="lastUpdateEmailVersion" value="0.0.0.0" />
    <add key="faceDetectFailedEmail" value="false" />
    <add key="smtpServer" value="" />
    <add key="smtpPort" value="25" />
    <add key="smtpUserName" value="" />
    <add key="smtpPassword" value="az2jnZKX+vC/6BSjejrLpg==" />
    <add key="mailFrom" value="" />
    <add key="mailTo" value="" />
    <add key="mailSubject" value="Confluence Profile Photo Uploader Face Detection Failed" />
    <add key="mailBody" value="The Confluence Profile Photo Uploader was unable to detect a face for &lt;b&gt;{0}&lt;/b&gt; in the image {1}. This image will need to be manually cropped and uploaded.&lt;br /&gt;&lt;br /&gt; Sent time: {2}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>